#sourcecode {
	/* 	height: 60%; */
	width: 100%;
	min-height: 400px;
	min-width: 350px;
	display: block;
}

.pasteBox, .uploadCode {
margin-bottom: 10px;
}

#uploadCode>div {
	/* 	margin: 48%; */
	
}
.max_lines{
	color: red;
}

.code{
	background: lavender;
}

.long_source{
	display: inline-block;
	background: grey;
	width: 100%;
}